@font-face {
    font-family: bodoni;
    src: url(fontes/BodoniflfRoman-vmAD.ttf);
}

@font-face {
    font-family:"decoCard";
    src: url(fontes/DecoCard-MZAY.ttf);
}

@font-face {
    font-family:"majoramBold";
    src: url(fontes/MajoramBold-KwMD.ttf);
}

@font-face {
    font-family:"miltonBurlesque" ;
    src: url(fontes/MiltonBurlesqueNf-19WZ.ttf);
}

@font-face {
    font-family:"novaSolid" ;
    src: url(fontes/NovaSolidSolid-mJzm.otf);
}

@font-face {
    font-family:"swansea" ;
    src: url(fontes/Swansea-q3pd.ttf);
}