* {
    /* margin: 0; */
    /* padding: 0; */
}

body {
    background-color: rosybrown;
}

span {
    left:90%;
    position: fixed;
    transform: translate(20%,0);
    font-weight: 100;
    font-size: 30px;
    display: inline;
    color: white;
}

.container {
    display:flex;
    width: 80%;
}

img {
    border-radius: 20px;
}


ul {
    font-size:30px;
}

#linksExternos {

    background-color: yellow;
    font-size: 40px;
    color: blue;
}

h2 {
    background-color: blue;
    color: white;
}

#comoEuSou {
    background-color: red;
}

.textos {
    
    font-size: 30px;
    width: 80%;
    height: 200px;
    overflow: auto;
}

div {
    font-size: 30px;
    border: 2px solid green;
}
a {
    text-decoration: none;
    color: green;
}

.bloco01 {
    background-color: blue;
}
.bloco02 {
    background-color: red;
}
.bloco03 {
    background-color: yellow;
}

li {
    list-style:none;
}